@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather.eot');
	src: url('/fonts/Merriweather.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Merriweather.woff') format('woff'),
		url('/fonts/Merriweather.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-Bold.eot');
	src: url('/fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Merriweather-Bold.woff') format('woff'),
		url('/fonts/Merriweather-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}